
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    background-image: url(../assets/background-image.webp);
    background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));

}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    /* display: flex;
    justify-content: flex-end; */
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.welcome-header {
    display: flex;
    justify-content: center;
    color:#e56b6f;
    font-size: x-large;
    margin-top: 100px;
}

.shopping-list-header {
    display: flex;
    justify-content: center;
    color:black;
    font-size: large;

}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 40px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.item-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid 2px black; */
    border-radius: 10px;
    height: 40px;
}

.item, .quantity {
    margin: 20px;
}
.add-icon {
    height: 20px;
    width: 20px;
}

.delete {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background-color: #f94144 ;
    color: #fed9b7;
    font-size: 20px;
}
.list {
    border: solid 2px darkgrey;
    height: 200px;
    width: 500px;
    border-radius: 10px;
}

button, .not-bought {
    cursor: pointer;
}

.bought {
    cursor: initial;
    text-decoration: line-through;
    /* transform: rotateX(180deg); */
    color:rgba(53, 54, 53, 0.507)
}